#db
*.sql

# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

#Proprietary
web/app/plugins/arqam-lite
web/app/plugins/jannah-extensions
web/app/plugins/jannah-switcher

# Dotenv
.env
.env.*
!.env.example
*.sql
web/app/updraft

# Composer
/vendor
